* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(30, 35, 37);

    margin: 0;
    padding: 50px;
}

.text {
    font-family: 'Cousine';
    font-size: 20px;
    color: white
}

#title {
    margin-bottom: 30px;
}

.subsite {
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 220px;
    width: 100%;
    background-color: rgb(52, 59, 61);
    border-radius: 10px;
    transition: ease-out .15s;
    margin-bottom: 10px;
}

.subsite:hover {
    height: 250px;
    background-color: rgba(52, 59, 61, .7);
}

.subsite>img {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 7px;
}

.content {
    overflow: scroll;
    height: 100%;
    width: 100%;
    margin: 10px;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 10px;
}

.topbar {
    height: 20px;
    display: flex;
}

.name {
    font-weight: 700;
}

.id {
    color: rgb(108, 117, 117);
    font-size: 15px;
    margin-left: 30px;
}

.date {
    flex: 1;
    text-align: right;
    font-size: 15px;
    font-weight: 0;
    color: rgb(108, 117, 117);
}

.desc {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 0;
    color: ghostwhite;
}

a {
    text-decoration: none;
}